**/.vs/
**/.vscode/
**/bin/
**/obj/
**/.git/
**/.gitignore
**/.dockerignore
**/docker-compose*
**/Dockerfile*
**/*.md
**/node_modules/
**/npm-debug.log
**/.DS_Store
**/secrets.dev.yaml
**/values.dev.yaml
**/.idea/
**/*.DotSettings.user
**/.vs/
.vs/
bin/
obj/
k8s/
infrastructure/
**/.suo
**/.user
**/.userosscache
**/.sln.docstates
**/packages/
**/TestResults/
**/*.log
**/*.vspscc
**/*.vssscc
